# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.moved-aside
xcuserdata/
*.xcworkspace/xcuserdata/
SitUpright.xcodeproj/project.xcworkspace/xcuserdata/
SitUpright.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Package.resolved
